Repository navikt/mock-oauth2-server, pull requests merged in 2022-01, with the labels that each got.

#142 fix: add static check for incompatible mockwebserver version
  src/main/kotlin/no/nav/security/mock/oauth2/MockOAuth2Server.kt
Labels: security findings

#138 Support more token signing algos
  README.md
  src/main/kotlin/no/nav/security/mock/oauth2/OAuth2Config.kt
  src/main/kotlin/no/nav/security/mock/oauth2/extensions/NimbusExtensions.kt
  src/main/kotlin/no/nav/security/mock/oauth2/grant/AuthorizationCodeGrantHandler.kt
  src/main/kotlin/no/nav/security/mock/oauth2/http/OAuth2HttpResponse.kt
  src/main/kotlin/no/nav/security/mock/oauth2/token/KeyGenerator.kt
  src/main/kotlin/no/nav/security/mock/oauth2/token/KeyProvider.kt
  src/main/kotlin/no/nav/security/mock/oauth2/token/OAuth2TokenCallback.kt
  src/main/kotlin/no/nav/security/mock/oauth2/token/OAuth2TokenProvider.kt
  src/main/resources/mock-oauth2-server-keys-ec.json
  src/test/kotlin/no/nav/security/mock/oauth2/OAuth2ConfigTest.kt
  src/test/kotlin/no/nav/security/mock/oauth2/login/LoginRequestHandlerTest.kt
  src/test/kotlin/no/nav/security/mock/oauth2/token/KeyGeneratorTest.kt
  src/test/kotlin/no/nav/security/mock/oauth2/token/KeyProviderTest.kt
  src/test/kotlin/no/nav/security/mock/oauth2/token/OAuth2TokenProviderECTest.kt
  src/test/kotlin/no/nav/security/mock/oauth2/token/OAuth2TokenProviderRSATest.kt
Labels: enhancement, security findings

#167 update: gradle wrapper. jackson and kotest
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  src/test/kotlin/no/nav/security/mock/oauth2/OAuth2ConfigTest.kt
  src/test/kotlin/no/nav/security/mock/oauth2/testutils/Token.kt
Labels: dependencies, security findings

#187 Parse host:port in host header for proxied connections
  src/main/kotlin/no/nav/security/mock/oauth2/http/OAuth2HttpRequest.kt
  src/test/kotlin/no/nav/security/mock/oauth2/http/OAuth2HttpRequestTest.kt
Labels: bug
